<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
  <li><a href='https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-get-started'>Service Fabric</a> - Both API and Process Service running on top of Service Fabric</li>
</ul>
<p>Application Layers</p>
<ul>
  <li><strong>UI</strong> - UI runs on asp.net core with angular as a stateless service fabric service.</li>
  <li><strong> Processor API </strong> - Processor API is asp.net core API running as Stateful service fabric application </li>
  <li><strong>Database</strong> - MongoDB is used for storig data. all data is stored in Reliable collection and synced with MongoDB</li>
</ul>
<p>
  To run the code install service fabric sdk and setup a local cluster, then install mongo DB and updated the DB connection string.
</p>
